* {
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-link:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  border-radius: 5px;
  color: white;
}

.app-container {
  background-color: #ddd;
  min-height: 93vh;
}

.form-details {
	width: 500px;
	margin: 0 auto;
	padding: 70px 0;
}

.form-details form{
	border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
  padding: 30px;
}

.form-details button{
  display: block;
  width: 100%;
  font-weight: 600;
}

#username {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}

#usernamecontainer {
  border-radius: 5px;
  background-color: #04AA6D;
  padding: 0, 30px;
}

.homepagebutton{
  display: block;
  width: 100%;
  font-weight: 600;
}

.cardimage {
  height: 180px;
}

.eventtitles {
  color: white;
  background-color: black;
  padding: 10px;
  text-shadow: 2px 2px 2px green;
  background-image: linear-gradient(to right, green, black);
  letter-spacing: 4px;
  -webkit-text-stroke: 2px green;
}

.eventpagebutton{
  display: block;
  width: 50%;
  font-weight: 600;
}


.eventform-details {
	width: 500px;
	margin: 0 auto;
	padding: 70px 0;
}

.eventform-details form{
	border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
  padding: 30px 30px 15px 30px;
}

.eventform-details button{
  font-weight: 600;
  margin-bottom: 0;
}